body {
    background-color: rgb(238, 230, 230);
}

#main, #resultado {
    background-color: rgb(107, 35, 35);
    width: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
}

#resultado {
    margin-top: 50px;
}

button {
    margin-top: 20px;
}

.hide {
    display: none;
}